@page
@model CIDM3312_WorkList.Pages.UserWorkPages.Works.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Work</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.Duration)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.User.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Work?.WorkId">Edit</a> |
    <a asp-page="./WorkIndex">Back to List</a>
</div>
